<html>
	<head>
		<title>Django blog from James</title>
	</head>
	<body>
		<div>
			<h1>First hadder</h1>
			<p>This is paragraph, hi is so small, but it doesn't metter</p>
			<em>This is em text</em>
		</div>

		<div>
			<p>Time now is: 20:42</p>
			<h2>Second hadder</h2>
			<h2><a href="https://djangogirls.org">klick</a></h2>
		</div>
		<div>

			<strong>This is strong text</strong>
			<h3>Third hadder</h3>
			<p>Third hadder, like be first and second, but third<br />bla-bla-bla</p>
		</div>
		<div>
			<ul>This is a list</ul><ul>This is a list 1</ul><ul>This is a list 2</ul><ul>This is a list 3</ul>
		</div>
		<div>
			<p>This is for git status</p>
		</div>

	</body>